<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion - PaxBank</title>
</head>
<body>
    <h1>Connexion</h1>
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/login" method="post">
        <label for="username">Nom d'utilisateur:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Mot de passe:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Se connecter">
    </form>
    <p>Pas encore inscrit ? <a href="{{ url_for('register_page') }}">Inscris-toi</a></p>
</body>
</html>
